.styledLinkContent--contacts-menu-footer {
  color: #808080;
}

.styledLinkContent--allCategoryBlock,
.styledLinkContent--mainMenu {
  color: #fff;
  font-size: 15px;
  /* font-family: "Droid Sans"; */
  font-weight: 700;
}

.styledLinkContainer--menu-footer {
  margin: 0px 0px 12px;
  padding: 0px;
  color: #3c3c3c;
}

.styledLink--menu-footer {
  color: #b9b9b9;
}

.accordionIcon--linkList-footer-toggle--isOpen {
  transform: translateY(-50%) rotate(180deg);
  content: url(assets/icons/seta-footer.png);
  transition: 0.3s;
  width: 16px;
  margin-top: 10px;
}

.accordionIcon--linkList-footer-toggle--isClosed {
  transform: translateY(-50%) rotate(0deg);
  content: url(assets/icons/seta-footer.png);
  transition: 0.3s;
  width: 16px;
  margin-top: 10px;
}

.menuContainerNav--footer-accordion {
  border: solid white;
  border-width: 0px 0px;
}

:global(.vtex-menu-2-x-menuItemInnerDiv--linkList-footer-toggle) {
  background-color: #000;
  border-top: 2px solid #f5f5f5;
}

.styledLinkContent--linkList-footer-toggle {
  margin-top: 1em;
  font-weight: bold;
  margin-bottom: 1em;
}

.styledLinkContent--submenu--inst {
  color: #c4c4c4;
  text-transform: uppercase;
  font-size: 20px;
  border: solid 3px #c4c4c4;
  padding: 13px 12px;
  font-weight: 600;
  justify-content: center;
  border-radius: 5px;
  margin-bottom: 0.5em;
}

.styledLinkContent--submenu--inst:hover {
  border: solid 3px #f15b2a;
  color: #f15b2a;
}

.menuItem--submenu--inst .styledLinkContainer {
  margin: 0px;
}

.submenu--main-menu-row-desk {
  margin-left: -8.5%;
}

@media (max-width: 760px) {
  .styledLinkContent--submenu {
    font-size: 18px;
    color: white;
  }

  .styledLinkContainer--submenu--inst {
    margin: 0;
    padding: 0px;
  }

  .styledLinkContent--submenu--inst {
    color: #f3f3f3;
    border: 2px solid #f3f3f3;
    border-radius: 2px;
    padding: 13px 12px;
    margin: 0;
  }

  .menuItem--linkList-footer-toggle :global(.vtex-menu-2-x-styledLink) {
    font-size: 15px;
    /* font-family: "Droid Sans"; */
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 23px;
    color: #ffffff;
  }

  .styledLinkContent--linkList-footer-toggle {
    font-size: 20px;
  }

  .styledLinkContent--menu-sobre-footer {
    justify-content: center;
  }

  .styledLinkContent--submenu--inst {
    border: solid 3px #ed6f00;
    color: #ed6f00;
    margin-bottom: 0.3em;
  }

  :global(.vtex-menu-2-x-menuItemInnerDiv--linkList-footer-toggle)
    .linkList-footer-toggle {
    color: #f5f5f5;
  }

  .menuContainer--menu-footer {
    display: flex;
    align-items: flex-start;
    padding-left: 10px;
  }
}

.styledLinkContent--menu-footer {
  font-style: italic;
}

.styledLinkContent--header__menu {
  font-family: "Droid Sans";
  font-size: 15px;
  color: #1a1a1a;
  font-weight: 700;
}

.menuContainer--header__menu .menuItem--header__menu {
  margin-left: 3rem;
}
