.inputContainer {
  font-size: 11px;
  border-color: #f2eeea !important;
  color: #4f4f4f !important;
  background-color: #f2eeea !important;
  width: 2rem !important;
}

.quantitySelectorButton {
  background-color: #f2eeea !important;
  border-color: #f2eeea !important;  
  height: 27px;
}

.productName {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 38px;
  color: #727272;
  font-size: 13px;
}

.productName--mackflex-cart {
  width: 100%;
  max-width: 185px;
}

.productVariationsContainer {
  color: #727273;
}

.productBrandName {
  display: none;
}

.quantitySelectorButton {
  color: #4f4f4f !important;
}

.productImageContainer {
  width: 78px !important;
}
