.container {
  margin-left: 10px;
}

.profileIcon {
  color: #fff;
}

.label {
  color: black;
}

.accountOptionsSectionTitle {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #515151;
  text-align: left;
}

.login-link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #515151;
  text-align: left;
}

.logoutButton {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #F15B2A;
  position: relative;

}

.profileIcon{
  display: none;
}