.paragraph--sectionRichTitle {
  /* font-family: "Droid Sans"; */
  font-size: 27px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: #515151;
  text-decoration: underline;
  line-height: 20px;
  text-decoration-color: #f15b2a;
}


.link--orcamento-text,
.strong--socialmedia-text {
  font-size: 11px;
  color: white;
  text-decoration: none;
}

.link--orcamento-text {
  font-weight: 200;
}

.paragraph--socialmedia-text {
  align-items: center;
  display: flex;
}

.link--socialmedia-text {
  margin: 0px 8px 0px 8px;
}

.strong--socialmedia-text {
  margin-right: 2px;
}

.wrapper--payment__image {
  padding: 0px 2px;
}

.image--payment__image {
  width: 56px;
}

.paragraph--payment__image {
  margin: 0;
}

.wrapper--security__image {
  margin: 0px 10px;
}

.paragraph--InstitutionalTitle {
  text-transform: uppercase;
  color: #515151;
  font-size: 28px;
}

.container--menu-institucional-dropdown {
  border: 2px solid #f15b2a;
  border-radius: 2px;
  color: #f15b2a;
}

.paragraph--menu-institucional-dropdown {
  margin: 10px;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
}

.container--menu-institucional-dropdown {
  background-repeat: no-repeat;
  background-position: 95% center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='12' viewBox='0 0 17 12' fill='none'%3E%3Cpath d='M2 2L8.74072 9.44704L15 2' stroke='%23ED6F00' stroke-width='3'/%3E%3C/svg%3E");
}

.paragraph--subit-success {
  color: #7ae462;
}

.container--InstitutionalText {
  padding-left: 40px;
}

.container--footer-sobre {
  display: flex;
  justify-content: flex-start;
}

.container--sectionRichTitle {
  display: flex;
  justify-content: start;
  padding-left: 30px;
}



.paragraph--footer-sobre {
  color: #fff;
  font-weight: 700;
  font-size: 19px;
}

.container--detailsTitle {
  position: relative;
  left: 80%;
}

.paragraph--detailsTitle {
  padding: 69px 0 59px 0;
  color: #f15b2a;
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
}

.paragraph--pdpTitle{
  color: #F15B2A
}
.paragraph--redes-sociais{
  margin: 0;
}

@media (max-width: 760px) {
  .container--footer-sobre {
    justify-content: center;
    text-align: center;
  }

  .paragraph--sectorTitle-mob {
    font-family: "Switzerland";
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 24px;
    color: #ffffff;
  }

  .container--sectorTitle-mob {
    margin: -45px 0 0px 20px;
  }

  :global(.vtex-menu-2-x-styledLinkContent--mob__toplevel1) {
    color: #fff;
  }

  :global(.vtex-menu-2-x-accordionIcon--mob__toplevel1) {
    color: #fff;
  }

  :global(.vtex-menu-2-x-accordionIcon--submenu) {
    color: #fff;
  }

  :global(.vtex-store-drawer-0-x-closeIconButton--menu-mobile) {
    margin: 20px 0 -25px 0;
  }
}

.paragraph--copyright__text {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  margin-top: 1.5em;
  color: #6F6F6F;
}

.paragraph--powered__title{
  color: #6F6F6F;
}

.container--zoom-image {
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.paragraph--zoom-image {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  background: #F15B2A;
  border-radius: 30px;
  padding: 0.625rem 2.188rem;
}

.wrapper--topo-link-content {
  display: flex;
  align-items: center;
}

:global(.vtex-rich-text-0-x-wrapper--topo-link-content)::before{
  content: url("assets/image/iconTopTel.png");
  margin-right: 10px;
}

.paragraph--topo-link-content{
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 11px;
  text-align: right;
  color: #FFFFFF;
}

:global(.vtex-rich-text-0-x-paragraph--topo-link-content)::before{
  content: "COMPRE ";
  font-weight: 700;
}

:global(.vtex-rich-text-0-x-paragraph--topo-link-content)::after{
  content: " (99) 9999-9999";
  font-weight: 700;
}
