.filterMessage, :global(.vtex-search-result-3-x-filter__container--brand), .filter__container--title, .accordionFilterContainer--marca{
    display: none;
}

.galleryTitle--layout{
    font-family: 'Droid Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
    margin-bottom: 1em;
}
.filter__container{
    border:none
}

:global(.vtex-checkbox__inner-container) {
    border-color: #ED6F00;
  }
  .filterTitleSpan{
      text-transform: uppercase;
      color: #515151;
  }

.buttonShowMore :global(.vtex-button){
    padding: 14px 40px;
    margin-bottom: 2em;
    margin-top: 2em;
    font-size: 0;
    border: 2px solid #F15B2A;
    border-radius: 30px;
    background-color: transparent;
    font-family: 'Droid Sans';
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    text-align: center;
    color: #F15B2A;
}

.buttonShowMore :global(.vtex-button__label)::after{
    content: 'Carregar Mais';
    font-size: 18px;
}

  .filterClearButtonWrapper :global(.vtex-button), .filterApplyButtonWrapper :global(.vtex-button){
      background-color: #ED6F00;
      color: white;
      padding-top: 0.25em;
    padding-bottom: 0.32em;
    border: solid;
    border-width: 2px;
    border-color: #ED6F00;
    border-radius: 100px;

  }

  .filterClearButtonWrapper :global(.vtex-button){
      background-color: white;
      border-width: 2px;
      border-color: #ED6F00;
      color:#ED6F00
  }

  @media (min-width: 1125px) {
    :global(.vtex-search-result-3-x-filter__container){
        border: 1px solid #c4c4c4;
        box-sizing: border-box;
        box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
        border-radius: 5px;
        padding: 1em;
        margin-bottom: 1em;
      }
  }

  .progressBarContainer {
    display: none;
  }

@media (max-width: 600px) {
    .orderByButton{
        border: 1px solid #F15B2A;
        border-radius: 30px;
        padding: 10px;
    }

    .galleryTitle--layout{
        font-family: 'Droid Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        color: #4F4F4F;
    }
}