.productBrand {
  text-align: left;
  color: #515151;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 40px;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
}

@media (max-width: 760px) {
  .productBrand {
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
  }
}

.containerNormal :global(.vtex-button) {
  margin: 0 auto;
  background-color: #F15B2A;
  border: none;
  border-radius: 40px;
}

:global(.vtex-add-to-cart-button-0-x-buttonText--buy-button-shelf) {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #FFFFFF;
}

.nameContainer {
  padding-right: 1em;
  justify-content: left;
  height: 80px;
  padding-top: 0;
  padding-bottom: 10px;
}

@media (max-width: 760px) {
  .nameContainer {
    padding-right: .5rem;
    padding-bottom: .5rem;
    height: 60px;
  }
}

:global(.vtex-product-price-1-x-savings) {
  background-color: #F15B2A;
  border-radius: 5px;
  padding: 7px 10px;
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 9px;
  text-align: center;
  color: #FFFFFF;
}



@media (max-width: 760px) {
  :global(.vtex-product-price-1-x-savings) {
    padding: 5px;
  }

  :global(.vtex-product-price-1-x-savings)::after {
    display: none;
  }
}

.imageNormal {
  width: 192px !important;
  height: 192px !important;
}