.infoCardContainer--sellerConditionCard {
  width: auto;
  background-color: #f8f8f8;
}

.infoCardImageContainer--sellerConditionCard {
  width: 23%;
}
.price_listPriceContainer--PriceBox {
  margin-top: 28px;
}

.infoCardSubhead--sellerConditionCard {
  margin: 1px 0;
  color: #305347;
  font-size: 13px;
  font-weight: 400;
}

.infoCardHeadline--sellerConditionCard {
  color: #f15b2a;
  margin: 1px 0;
  font-size: 15px;
  font-weight: 700;
}

.infoCardTextContainer--sellerConditionCard {
  width: 100%;
}

.sizeDesktop {
  display: block;
  padding: 1rem 0;
  max-width: 204px;
}

.searchBarIcon--external-search {
  background-color: white;
  position: relative;
  position: relative;
  right: 30px;
  padding: 0;
}

.searchBarIcon--clear:hover .searchBarContainer {
  max-width: 375px;
}

:global(.vtex-store-components-3-x-externalSearchButtonWrapper) {
  border: none;
}

.imageElement--footer-logo {
  margin-top: 10%;
  margin-bottom: 10%;
}

.productNameContainer {
  margin-bottom: 5px;
  font-weight: 700;
  text-transform: none;
  letter-spacing: 0;
  color: #515151;
  font-size: 25px;
}

.skuSelectorContainer {
  display: flex;
  flex-wrap: wrap;
  
}
.skuSelectorSubcontainer{
  margin: 0;
}

.skuSelectorTextContainer {
  padding-left: 5px;
}

.infoCardContainer--info-card-home-banner1 {
  margin-right: 20px;
  height: 574px;
  max-width: 646px;
  width: 100vw;
  background-size: contain !important;
}

.infoCardContainer--info-card-home-banner2 {
  height: 574px;
  background-size: contain !important;
  max-width: 646px;
  width: 100vw;
}

.infoCardCallActionContainer--info-card-home-banner1 :global(.vtex-button) {
  background-color: #f15b2a;
  border-radius: 30px;
  width: 188px;
  height: 42px;
}

.infoCardCallActionContainer--info-card-home-banner2 :global(.vtex-button) {
  background-color: #f15b2a;
  border-radius: 30px;
  width: 188px;
  height: 42px;
}

.infoCardCallActionContainer--info-card-home-banner-footer
  :global(.vtex-button) {
  background-color: #f15b2a;
  border-radius: 30px;
  width: 188px;
  height: 42px;
}

.infoCardCallActionContainer--info-card-home-banner-footer {
  position: relative;
  top: 20vh;
}

.infoCardTextContainer--info-card-home-banner1 {
  position: relative;
  top: 30vh;
}

.infoCardTextContainer--info-card-home-banner2 {
  position: relative;
  top: 30vh;
}

:global(.vtex-dropdown__arrow) {
  color: black;
}

:global(.vtex-dropdown__container) {
  background-color: #efefef;
  border-radius: 0px;
  border-color: #efefef;
}

.price_sellingPriceContainer--pdp {
  color: #f15b2a;
  text-align: start;
}

.price_listPriceContainer--pdp {
  font-size: 17px;
  margin-left: -5px;
  text-align: start;
}

.shippingContainer :global(.vtex-button) {
  border-radius: 100px;
}

:global(.vtex-store-components-3-x-shippingTableRadioBtn) {
  display: none;
}

.skuSelectorName {
  color: #4f4f4f;
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
}

.skuSelectorItem--selected .valueWrapper {
  color: #f15b2a;
}

.skuSelectorItem--selected .skuSelectorInternalBox {
  border: none;
}

.valueWrapper {
  color: #bdbdbd;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}
.skuSelectorInternalBox {
  border-radius: 0;
  height: 44px;
}

.skuSelectorItem {
  width: auto;
  border-radius: 0;
  margin-bottom: 1em;
}

.frameAround {
  border-radius: 0;
}

:global(.vtex-mega-menu-2-x-menuItemVertical--mega-menu),
:global(.vtex-mega-menu-2-x-submenuItemVertical--mega-menu) {
  border-color: transparent !important;
}

:global(.vtex-mega-menu-2-x-submenuContainerVertical--mega-menu) {
  background-color: #f15b2a !important;
}

:global(.vtex-mega-menu-2-x-styledLinkText--mega-menu) {
  font-weight: 400;
}

.productImagesContainer--product__images--desktop {
  background-color: #fff;
  margin: 0.375rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
}
.figure--product__images--desktop {
  border-radius: 0.25rem;
}
.productImagesThumb {
  border: 0.063rem solid transparent;
  border-radius: 0.25rem;
  transition: all 0.2s;
}
.productImagesThumb.productImagesThumbActive {
  border: 0.063rem solid #000;
  border-radius: 0.25rem;
}
.swiperCaret .caretIcon--product__images--desktop {
  display: none;
}
.gradientBaseTop::after {
  content: url('assets/icons/seta-thumb.svg');
  transform: rotate(180deg);
  margin-top: -1.75rem;
}
.productImagesThumbCaret--product__images--desktop {
  width: 0;
}
.productImagesThumbCaret--product__images--desktop::after {
  content: url('assets/icons/seta-thumb.svg');
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: absolute;
  left: 2.5rem;
  right: unset;
  top: 1.625rem;
}
.productImage--product__images--desktop {
  width: 37.5rem;
  max-width: 100%;
  border-radius: 0.25rem;
}
.swiperCaretPrev--product__images--desktop {
  color: transparent;
  display: flex;
}
.swiperCaretPrev--product__images--desktop::after {
  content: url('assets/icons/seta-esquerda-pdp.svg');
  display: flex;
}
.swiperCaretNext--product__images--desktop {
  color: transparent;
  display: flex;
  padding-right: 0.625rem;
}
.swiperCaretNext--product__images--desktop::after {
  content: url('assets/icons/seta-direita-pdp.svg');
  display: flex;
}
/* .swiperPaginationClickable {
  display: none;
} */
.swiperBullet {
  width: 1.5rem !important;
  height: 0.25rem !important;
  border-radius: 0.125rem !important;
}
.swiperBullet--active {
  background-color: #000 !important;
  border-radius: 0.125rem !important;
}
.carouselGaleryThumbs--product__images--desktop {
  width: 15% !important;
}
.carouselGaleryCursor {
  width: 84%;
}
.productImageTag--product__images--desktop--main {
  width: 592px !important;
  height: 525px !important;
}



/* :global(.vtex-product-summary-2-x-element--default-prod-shelf) :global(.vtex-button){
  visibility:hidden;
  opacity:0;
  transition:visibility 0.3s linear,opacity 0.3s linear;
} */

/* :global(.vtex-product-summary-2-x-container--default-prod-shelf):hover 
:global(.vtex-product-summary-2-x-clearLink--default-prod-shelf) 
:global(.vtex-product-summary-2-x-element--default-prod-shelf) 
:global(.vtex-button){
  visibility:visible;
  opacity:1;
} */



:global(.vtex-product-summary-2-x-element) {
  position: relative;
}

:global(.vtex-product-summary-2-x-element)
  :global(.vtex-wish-list-1-x-wishlistIconContainer) {
  position: absolute;
  z-index: 9;
  right: 5px;
  top: 8px;
}

:global(.vtex-wish-list-1-x-wishlistIconContainer) :global(.vtex-button) {
  background-color: transparent;
}

:global(.vtex-flex-layout-0-x-flexRow--minicart-footer)
  :global(.vtex-store-components-3-x-container) {
  padding-left: 0.25rem !important;
  padding-right: 0.25rem !important;
}

:global(.vtex-store-components-3-x-productDescriptionText)
  :global(.vtex-store-components-3-x-container) {
  padding-left: 0.1rem !important;
  padding-right: 0.25rem !important;
}

:global(.vtex-store-components-3-x-productDescriptionText)
  :global(.vtex-store-components-3-x-content) {
  font-family: "Droid Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #939598;
}

:global(.vtex-store-components-3-x-productDescriptionTitle) {
  font-size: 0px;
  margin-top: 25px;
}
:global(.vtex-store-components-3-x-productDescriptionTitle)::before {
  content: "PRINCIPAIS CARACTERÍSTICAS";
  font-size: 1.25rem;
  font-family: "Droid Sans";
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  line-height: 19px;
  color: #4f4f4f;
}

:global(.vtex-minicart-2-x-cartIcon) {
  display: none;
}

:global(.vtex-login-2-x-container)
  :global(.vtex-button)
  :global(.vtex-button__label)::before {
  content: url("assets/icons/iconMackFlexLogin.svg");
}

@media (min-width: 1200px) {
  :global(.vtex-login-2-x-container)
    :global(.vtex-button)
    :global(.vtex-button__label)::before {
    content: url("assets/icons/header/iconDesktopLogin.svg");
  }
}

.imageElement--security-logo-2 {
  height: fit-content;
}

.discountInsideContainer {
  background-color: #f15b2a;
  border-radius: 5px;
  padding: 7px 10px;
  top: 96%;
}

:global(.vtex-login-2-x-container) :global(.vtex-button) {
  background-color: transparent !important;
}

@media (max-width: 1300px) {
  .container {
    max-width: 1200px;
  }
}

@media (min-width: 1200px) {
  .shippingContainer {
    width: 52%;
  }
  :global(.vtex-store-components-3-x-container) {
    padding-left: 8rem !important;
    padding-right: 8rem !important;
  }
}

@media (min-width: 1200px) and (max-width: 1700px) {
  :global(.vtex-menu-2-x-styledLinkContainer--allCategoryBlock) {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  :global(.vtex-menu-2-x-styledLinkContent--allCategoryBlock),
  :global(.vtex-menu-2-x-styledLinkContent--mainMenu) {
    font-size: 13px;
  }
}

@media (min-width: 1400px) {
  :global(.vtex-menu-2-x-styledLinkContent--allCategoryBlock),
  :global(.vtex-menu-2-x-styledLinkContent--mainMenu) {
    font-size: 15px;
  }
}

:global(.vtex-search-result-3-x-container--layout)
  :global(.vtex-store-components-3-x-container) {
  padding: inherit !important;
}

@media (max-width: 760px) {
  :global(.vtex-mega-menu-2-x-accordionIconContainer--mega-menu) {
    color: #fff !important;
  }
  :global(.vtex-store-components-3-x-productImagesGallerySlide){
    width: 100% !important;
  }
  :global(.vtex-store-components-3-x-carouselGaleryCursor) {
    width: 100%;
  }

  :global(.vtex-search-2-x-biggy-autocomplete-wrapper) {
    width: 80vw;
  }

  :global(.vtex-search-2-x-tileList) {
    display: none;
  }
  .infoCardContainer--sellerConditionCard {
    display: flex;
  }

  .infoCardTextContainer--sellerConditionCard {
    width: 81%;
  }

  .price_listPriceContainer--pdp {
    margin-left: -43%;
  }

  .infoCardContainer--info-card-home-banner-footer {
    background-size: contain !important;
  }

  .infoCardCallActionContainer--info-card-home-banner-footer {
    top: 5vh;
  }

  .infoCardContainer--info-card-home-banner1 {
    width: 100vw !important;
    margin-right: 0;
  }

  .infoCardContainer--info-card-home-banner2 {
    width: 100vw !important;
    display: none;
  }

  :global(.vtex-login-2-x-label) {
    color: white;
    display: block;
  }



  :global(.vtex-flex-layout-0-x-flexRowContent--mob-footer-contact)
    :global(.vtex-flex-layout-0-x-stretchChildrenWidth)
    :global(.vtex-menu-2-x-menuContainerNav--menu-footer) {
    display: flex;
    justify-content: center;
  }
}
.shippingContainer {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: flex-start;
  border-radius: 2px;
  border: 1px solid #000;
  width: 487px !important;
  height: 42px;
  flex-shrink: 0;
}
.shippingContainer :global(.vtex-input__label) {
  display: none;
}
.shippingContainer :global(.vtex-input) {
  height: 100%;
  display: block;
}
.shippingContainer :global(.vtex-address-form__postalCode) {
  width: 100%;
  padding-bottom: 0;
  height: 100%;
}
.shippingContainer :global(.vtex-input-prefix__group) {
  border: none;
  height: 100%;
  border-radius: 0;
}
.shippingContainer :global(.vtex-address-form-4-x-input) {
  height: 100%;
}
.shippingContainer :global(.vtex-input__suffix) {
  padding: 0;
}
.shippingContainer :global(.vtex-button) {
  width: auto;
  height: 100%;
  padding: 0.5rem 1.5rem;
  background-color: transparent;
  border-color: transparent;
}
.shippingContainer :global(.vtex-button__label) {
  white-space: nowrap;
  overflow: hidden;
  padding: 0;
  margin: 0 auto;
  justify-content: flex-start;
  font-size: 0;
}
.shippingContainer :global(.vtex-button__label)::after {
  content: 'Calcular';
  color: #4F4F4F;
  font-family: "Droid Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: none;
}
.shippingContainer :global(.vtex-address-form__postalCode-forgottenURL) {
  display: none;
}

@media (max-width: 1300px) {
  .infoCardContainer--info-card-home-banner1 {
    width: 45vw;
  }

  .infoCardContainer--info-card-home-banner2 {
    width: 45vw;
  }
}

.imageElement--security-logo-1 {
  padding-right: 15px;
}
.imageElement--icone-frete-gratis{
  width: 197px;
  height: 39px;
}
@media (max-width: 760px) {
  .shippingContainer{
    width: 100% !important;
    height: 42px;
  }
  .searchBarContainer {
    z-index: 100;
    width: 322px;
    border: none;
    position: relative;
  }

  :global(.vtex-store-components-3-x-searchBarContainer)
    :global(.vtex-input-prefix__group) {
    width: 100%;
    height: 33px;
    border-radius: 100px;
    border-width: 1px;
  }

  :global(.vtex-store-components-3-x-logoImage) {
    width: 110px !important;
    height: auto;
  }
}

/*.container {
  max-width: 95rem;
}
@media (max-width: 1300px) {
  .container {
      max-width: 1200px;
  }
}*/

.skuSelectorTextContainer {
  padding: 0;
}

.skuSelectorOptionsList,
.skuSelectorItem {
  margin-left: 0;
}

.productImagesThumb--thumbnail {
  padding: 0 7.5px !important;
}

.carouselGaleryThumbs--thumbnail {
  display: block;
}

.infoCardContainer--category-home {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  padding: 0;
  margin-bottom: 74px;
}

.infoCardTextContainer--category-home {
  padding: 0 20px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.infoCardCallActionContainer--category-home {
  text-decoration: none !important;
}

.infoCardHeadline--circle-menu-option,
.infoCardCallActionText--category-home {
  font-family: "Droid Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #515151;
  text-decoration: none !important;
}

.infoCardImageContainer--circle-menu-option {
  width: 94%;
  text-align: center;
}

.sellingPrice,
.listPrice {
  text-align: left;
  padding: 0;
}

.sellingPrice {

  padding-bottom: 5px;
}

.listPriceLabel {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
  font-family: "Droid Sans";
  color: #515151;
  padding: 0;
}

.installmentsPrice {
  font-family: "Droid Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #515151;
}

@media (max-width: 760px) {
  .installmentsPrice {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #515151;
  }
}

:global(.vtex-login-2-x-container) {
  margin: 0;
}

:global(.vtex-login-2-x-container) :global(.vtex-button__label) {
  padding: 0;
}

:global(.vtex-login-2-x-container) :global(.vtex-login-2-x-label) {
  display: none;
}

@media (min-width: 1200px) {
  :global(.vtex-login-2-x-container) :global(.vtex-login-2-x-label) {
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    font-size: 10px;
    margin-left: 19.9px;
    padding: 0;
  }

  :global(.vtex-login-2-x-container) :global(.vtex-login-2-x-label)::after {
    content: "OU";
    margin-left: 0.5rem;
    margin-bottom: 0.2rem;
    font-weight: normal;
  }

  :global(.vtex-login-2-x-container) :global(.vtex-login-2-x-label)::before {
    content: "CADASTRE-SE";
    order: 1;
  }
}

:global(.vtex-mega-menu-2-x-styledLinkText--mega-menu),
:global(.vtex-mega-menu-2-x-submenuContainerTitle--mega-menu),
:global(.vtex-mega-menu-2-x-collapsibleHeaderText--mega-menu),
:global(.vtex-mega-menu-2-x-departmentsTitle--mega-menu) {
  color: white;
}

@media (min-width: 1900px) {
  .searchBarContainer {
    display: flex;
    align-items: center;
    min-width: 37rem;
  }
}
@media (max-width: 1500px) {
  .searchBarContainer {
    min-width: 29rem;
  }
}

@media (max-width: 768px) {
  .searchBarContainer {
    min-width: 20rem;
  }
}

.searchBarInnerContainer--mackFlexSearch :global(.vtex-input-prefix__group) {
  border: 1px solid #828282;
  border-radius: 100px;
}
