.link--mackFlexWishList {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 0.5rem;
}

.link--mackFlexWishList::before {
  content: url("assets/icons/header/iconWishListDesk.svg");
}

.link--mackFlexWishListMobile::before {
  content: url("assets/icons/header/iconWishListMobile.png");
  display: block;
  margin-top: 3px;
}

.label--mackFlexWishList {
  font-size: 10px;
  margin-left: 10px;
  padding: 0;
  color: #000;
}

.label--mackFlexWishList::after {
  content: "FAVORITOS";
  font-weight: bold;
  font-size: 10px;
  padding: 0;
  color: #000;
}
.link--product__shipping:hover{
  opacity: 0.7;
}
.link--product__shipping:active{
  opacity: 0.7;
}
.link--product__shipping:focus {
  opacity: 0.7;
}
.link--product__shipping .label {
  display: block;
  white-space: pre;
  margin: 0;
}
.link--product__shipping {
  align-items: center;
  color: #fff;
  display: flex;
  font-size: 12px;
  font-weight: 700;
  justify-content: center;
  max-height: 2rem;
  text-decoration: underline;
  transition: all .2s;
  width: 100%!important;

}