.triggerContainer {
    width: 20%;
}

:global(.vtex-mega-menu-2-x-menuContainerNav) {
    z-index: 99999 !important;
    max-width: 1530px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 10px 17px -2px rgb(0 0 0 / 30%);
    border: 1px solid #f7f4f4;
}

.triggerContainer::after {
    content: "Todas as categorias";
    font-family: "Droid Sans";
    font-size: 15px;
    color: #FFF;
    font-weight: 700;
    position: relative;
    margin-left: 10px;
    top: -3px;
}

.styledLinkText--mega-menu:hover {
    color: #f15b2a;
}

:global(.vtex-mega-menu-2-x-menuItemVertical--mega-menu), :global(.vtex-mega-menu-2-x-submenuItemVertical--mega-menu){
    border-color: transparent !important;
}

:global(.vtex-mega-menu-2-x-submenuContainerVertical--mega-menu){
    background-color: #0054A8 !important;
}

@media (max-width: 1300px) {
    .triggerContainer {
        width: 24%;
        margin-left: 2em;
    }

}