.childrenContainer--menu-mobile {
  display: block;
}

.openIconContainer--menu-mobile {
  padding-top: 1.5em;
}

.openIconContainer {
  padding: 0px;
}

.drawer--mainMenuHeaderMobile {
  background-color: #f15b2a !important;
}

.drawerHeader--mainMenuHeaderMobile {
  margin-top: 1rem;
}

.drawerHeader--mainMenuHeaderMobile .closeIconButton {
  position: absolute;
  right: 0;
  top: 22px;
}

.goBackContainer .caretIcon {
  filter: brightness(4);
}

.drawerHeader--mainMenuHeaderMobile .closeIconButton .closeIcon {
  filter: brightness(4);
}

.closeIconContainer--menu-mobile {
  justify-content: end;
}

.menuIcon--menu-mobile {
  overflow: visible !important;
}

.openIconContainer--menu-mobile {
  padding-right: 10%;
}

.openIconContainer--drawner__search-bar {
  margin-right: 1.5em;
}

.openIconContainer--mainMenuHeaderMobile {
  display: flex;
  align-items: center;
  justify-content: center;
}

.openIconContainer--mainMenuHeaderMobile .menuIcon--mainMenuHeaderMobile {
  display: none;
}

.openIconContainer--mainMenuHeaderMobile::before {
  content: url("assets/icons/header/iconMenuHambuguer.svg");
}

:global(.vtex-mega-menu-2-x-goBackContainer) {
  position: absolute;
  right: 11px;
  top: 7px;
  color: #fff;
}

:global(.vtex-mega-menu-2-x-caretIcon),
:global(.vtex-mega-menu-2-x-goBackButtonText) {
  color: #fff;
}
