.product-identifier--productReference {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #939598;
}

.product-identifier--productReference::before {
  content: "Modelo ";
}

.product-identifier__label {
  font-size: 0;
}