.productBrand {
  text-align: left;
  display: flex;
  font-family: "Droid Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #515151;
}

@media (max-width: 760px) {
  .productBrand {
    font-family: "Droid Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #515151;
  }
}

.containerNormal :global(.vtex-button) {
  margin: 0 auto;
  background-color: #f15b2a;
  border: none;
  border-radius: 40px;
}

:global(.vtex-add-to-cart-button-0-x-buttonText--buy-button-shelf) {
  font-family: "Droid Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #ffffff;
}

.nameContainer {
  padding-right: 1em;
  justify-content: left;
  height: 80px;
  padding-top: 0;
  padding-bottom: 10px;
  overflow: hidden;
}

@media (max-width: 760px) {
  .nameContainer {
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
    height: 38px;
  }
}

:global(.vtex-product-price-1-x-savings) {
  background-color: #f15b2a;
  border-radius: 5px;
  padding: 2px 10px;
  font-family: "Droid Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 22px;
  white-space: pre;
}

:global(.vtex-product-price-1-x-currencyContainer) {
  font-size: 9px;
}

@media (max-width: 760px) {
  :global(.vtex-product-price-1-x-savings) {
    padding: 5px;
    min-height: 14px;
  }

  :global(.vtex-product-price-1-x-savings)::after {
    display: none;
  }
}

.imageNormal {
  width: 192px !important;
  height: 192px !important;
}

@media (max-width: 760px) {
  .imageNormal {
    max-width: 100% !important;
  }
}

.priceContainer {
  align-items: flex-start;
  justify-content: flex-start;
  height: 55px;
  padding-top: 0;
}

.currencyContainer,
.price_sellingPriceLabel {
  text-transform: uppercase;
  padding-right: 0.5em;
  margin-bottom: 0.5em;
  font-family: "Droid Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
  color: #515151;
}

.buyButtonText {
  font-size: 0;
  font-family: "Droid Sans";
  font-style: normal;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
}

:global(.vtex-product-summary-2-x-buyButtonText)::before {
  content: "COMPRAR";
  font-size: 18px;
}

.imageWrapper--product-img-shelf {
  background: #ececec;
  border: 1px solid #939598;
  margin-bottom: 20px;
  padding: 10px;
}

@media (max-width: 760px) {
  :global(.vtex-product-summary-2-x-buyButtonText)::before {
    font-size: 13px;
  }
}
