.cartIcon {
  color: #fff;
  /* display: none; */
}

.minicartQuantityBadgeDefault {
  top: 0.1em;
  right: -0.3rem;
  padding: 0.015rem;
  background-color: #b11d2f;
}

:global(.vtex-minicart-2-x-openIconContainer) :global(.vtex-button) {
  background-color: transparent !important;
}

.minicartCheckoutButton :global(.vtex-button__label) {
  font-size: 12px;
}

.minicartCheckoutButton {
  position: relative;
  top: -10px;
}

.openIconContainer {
  padding-top: 6px;
}

.openIconContainer,
.minicartContainer :global(.vtex-button__label) {
  padding-right: 0px;
}

.closeIconContainer {
  padding: 20px;
}

.minicartTitle {
  text-transform: uppercase;
}

.closeIconButton {
  position: absolute;
  left: 83%;
  padding-bottom: 0;
  padding-top: 1.4rem;
}

.minicartCheckoutButton :global(.vtex-button) {
  border-radius: 100px;
}

.minicartIconContainer::before {
  content: url("assets/icons/iconMackFlexCart.svg");
}

@media screen and (max-width: 768px) {
  .openIconContainer {
    padding-left: 0px;
  }

  .openIconContainer :global(.vtex-button__label) {
    padding: 0px;
  }
}
