.listPrice--selling-listprice-shelf, .listPriceRange--selling-listprice-shelf {
  text-align: left;
  font-size: 14px;
  line-height: 22px;
  color: #515151;
  text-decoration: line-through;
  text-transform: uppercase;
  padding-right: 1em;
}
.listPriceValue--selling-listprice-shelf, .listPriceRangeUniqueValue--selling-listprice-shelf {
  text-decoration: none;
}

/* .sellingPriceValue::before {
    content: "Por: ";
    font-size: 12px;
  }

  .listPrice::before {
    content: "De: ";
    font-size: 12px;
  } */

.sellingPrice--selling-price-shelf, .sellingPriceRange--selling-price-shelf {
  text-transform: uppercase;
  padding-right: 0.5em;
  text-align: left;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
  margin-bottom: 0.5em;
  font-family: 'Droid Sans';
  color: #515151;
}

.installments--product__price {
    font-size: 16px !important;
    color: #939598;
    
}


.installmentsNumber::after {
      content: 'x';
      color:#F15B2A;
      font-weight: bold;
      font-size: 16px;
}
.installmentsNumber{
  color:#F15B2A;
  font-weight: bold;
  font-size: 16px !important;
}


.installments--pdp-installments {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 0;
  line-height: 15px;
  color: #939598;
}

.installments--pdp-installments::before {
  content: "Ou em ";
  color: #939598 !important;
  font-weight: 400;
}


.vtex-product-price-1-x-installmentsNumber, .vtex-product-price-1-x-currencyContainer--pdp-installments, .vtex-product-price-1-x-installmentValue--pdp-installments::after {
  content: "x" !important;
  font-size: 15px;
}
.currencyContainer--pdp-installments::before{
  content: "de ";
  color: #939598;
  font-weight: 400;
}

.installmentsNumber--pdp-installments,
.installmentValue--pdp-installments{
  color: #F15B2A;
}

.installments--pdp-installments::before{
  font-size: 13px;
}

.installmentValue--product__price .currencyContainer--product__price {
      color:#F15B2A;
      font-weight: bold;
      font-size: 16px;
  }

.installmentsNumber,
.currencyContainer--pdp-installments,
.installmentValue--pdp-installments{
  font-size: 13px;
  /* font-weight: 700; */
}

.installments--home-installments {
  font-family: 'Droid Sans';
  margin-bottom: 15px;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 14px;
  color: #515151;
  text-align: left;
}


.sellingPriceRange--pdp{
  color: #f15b2a;
    text-align: start;
}

.currencyContainer--pdp{
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0em;
  text-align: left;
  font-size: 44px;
}
.sellingPrice,
.sellingPriceValue--product__price {
    line-height: normal;
    margin: 0;
    margin-top: 0;
    
    
  }
.sellingPrice,
.sellingPriceValue 
.currencyCode--product__price {
    font-size:44px;
    font-weight: 700;
}

.sellingPrice,
.sellingPriceValue--product__float-bar {
    font-size: 44px;
  }

  .sellingPrice,
  .sellingPriceValue--float-bar-price {
    margin: 0;
    font-weight: regular;
    font-size: 44px;
    line-height: normal;
    color: #f15b2a;
    padding: 0;



}
:global(.vtex-product-price-1-x-listPrice--product__price){
  display: none !important;
}
@media (max-width: 760px) {
  .sellingPrice--selling-price-shelf, .sellingPriceRange--selling-price-shelf {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
  }
  .sellingPrice,
.sellingPriceValue--product__price {

    margin-top: 0;
    
  }

  .installments--home-installments,
  .installmentsNumber--home-installments {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
  }
}