.biggy-autocomplete {
  z-index: 9999;
  max-width: 500px;
}


:global(.vtex-search-result-3-x-notFound--layout--not-found-container)
  :global(.vtex-store-components-3-x-infoCardTextContainer--info-card-home-banner1) {
  top: 25vh;
}

:global(.vtex-search-result-3-x-notFound--layout--not-found-container)
  :global(.vtex-store-components-3-x-infoCardTextContainer--info-card-home-banner2) {
  top: 25vh;
}


@media (min-width: 1000px) {
  :global(.vtex-search-2-x-itemList){
    overflow: initial;
  }

  .biggy-autocomplete {
    left: -28%;
  }
  
  }

  @media (min-width: 1500px) {
  
    .biggy-autocomplete {
      left: -12%;
    }
    
    }
  
