.title--related--shelf {
  display: flex;
  justify-content: start;
  width: 35%;
  color: #515151;
  font-size: 21px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  position: relative; 
}

@media (max-width: 760px) {
  .title--related--shelf {
    width: 44.5%;
    font-size: 15px;
  }
}

.title--related--shelf::after {
  position: absolute;
  content: '';
  height: 2px;
  bottom: 20px; 
  left: 0;
  right: 0;
  width: 100%;
  background: #f15b2a;
}

.arrow .caretIcon {
  display: none;
}

.arrowLeft::after {
  content: url("assets/icons/Vector-left.png");
}

.arrowRight::after {
  content: url("assets/icons/Vector.png");
}

.sliderContainer--related--shelf :global(.vtex-slider-0-x-sliderFrame),
:global(.vtex-slider-layout-0-x-sliderTrack--slider-shelf--default){
  gap: 10px;
}
