/*.progressive-discount-container {
  display: flex;
  width: 130px !important;
}*/

.progressive-discount-container label {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    color: inherit;
    border: 1px solid #BDBDBD;
    padding: 13px 20px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    transition: 0.3s all;
  }
  
  .progressive-discount-container label:hover {
    background-color: #FDEEEB;
    border: solid 1px #F04C25;
    transition: 0.3s all;
  }
  
  .progressive-discount-container label:focus {
    background-color: #FDEEEB;
    border: solid 1px #F04C25;
    transition: 0.3s all;
  }
  
  .progressive-discount-container label .progressive-discount-number,
  .progressive-discount-container label .progressive-discount-units {
    font-family: 'Droid Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 145.14%;
    color: #BDBDBD;
  }
  
  .progressive-discount-container label .progressive-discount-discounts {
    font-family: 'Droid Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 9px;
    color: #F15B2A;    
    margin-top: 5px;  
  }
  
  .old-price {
    font-size: 16px;
    text-decoration: line-through;
  }
  
  #netreviewsWidgetNum3863widget10av{
    display: none;
    }
  
  
  
    .nr-star:before{
      font-size: 18px;
    }
  
    .netreviews_reviews_rate{
      left: 98px;
      top: 5px;
    }
  
    @media (max-width: 700px) {

      .progressive-discount-container label .progressive-discount-number,
      .progressive-discount-container label .progressive-discount-units {
        font-size: 16px;
      }
  
      .progressive-discount-container label{
        
        height: 60px;
  
      }
    }