@font-face {
    font-family: 'Droid Sans';
    src: url('/arquivos/droid-sans.regular.ttf.css');
    font-weight: normal;
  }
  @font-face {
    font-family: 'Droid Sans';
    src: url('/arquivos/droid-sans.bold.css');
    font-weight: bold;
  }
  @font-face {
    font-family: 'Droid Sans';
    src: url('/arquivos/droid-sans.regular.ttf.css');
    font-weight: 200;
  }
 
  * {
    padding: 0px;
    box-sizing: border-box;
    margin: 0px;
  }
  body {
    background-color: #fff;
  }
  body#checkoutMainContainer {
    padding-top: 0px;
    background: rgba(242, 242, 242, 0.7);
  }
  body {
    background-color: #000;
  }
  .container.logo-place {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 30px 0px !important;
    border-bottom: 1px solid #808080;
    max-width: unset;
    width: 100%;
    background-color: #000;
  }
  table.table.cart-items tr th {
    font-family: 'Droid Sans', sans-serif;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    font-weight: bold;
    color: #4f4f4f;
  }
  .container.container-main.container-cart {
    max-width: 1320px;
    width: 100%;
    padding: 0px 20px;
  }
  .container.container-main.container-cart h1#cart-title {
    display: none !important;
  }
  .container.container-main.container-cart span.link-choose-more-products-wrapper {
    display: none;
  }
  .container.container-main.container-cart .cart {
    background: #fff;
    border: 2px solid #bdbdbd;
    padding: 41px 20px 20px 61px;
    margin-top: 20px;
  }
  @media screen and (max-width: 768px) {
    .container.container-main.container-cart .cart {
      padding: 10px;
    }
  }
  .container.container-main.container-cart .cart table.table.cart-items .product-price {
    position: relative;
  }
  .container.container-main.container-cart .cart table.table.cart-items thead tr th {
    font-family: 'Droid Sans', sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: bold;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: #4f4f4f;
  }
  .container.container-main.container-cart .cart table.table.cart-items thead tr th.quantity, .container.container-main.container-cart .cart table.table.cart-items thead tr th.product-price, .container.container-main.container-cart .cart table.table.cart-items thead tr th.shipping-date {
    text-align: center;
  }
  .container.container-main.container-cart .cart tr.product-item .icon-remove:before {
    content: 'X';
    font-family: 'Droid Sans', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    color: #F15B2A;
  }
  .container.container-main.container-cart .cart tr.product-item .quantity input {
    border: none;
    box-shadow: none;
  }
  .container.container-main.container-cart .cart tr.product-item td.product-name a {
    display: block;
    font-family: 'Droid Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #4f4f4f;
    margin-bottom: 4px;
  }
  .container.container-main.container-cart .cart tr.product-item td.shipping-date .old-product-price, .container.container-main.container-cart .cart tr.product-item td.product-price .old-product-price, .container.container-main.container-cart .cart tr.product-item td.shipping-date span, .container.container-main.container-cart .cart tr.product-item td.product-price span {
    font-family: 'Droid Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
  }
  .container.container-main.container-cart .cart tr.product-item td.shipping-date .old-product-price, .container.container-main.container-cart .cart tr.product-item td.product-price .old-product-price {
    color: #808080;
  }
  .container.container-main.container-cart .cart tr.product-item td.quantity-price {
    text-align: left;
  }
  .container.container-main.container-cart .cart tr.product-item td.quantity-price span.total-price, .container.container-main.container-cart .cart tr.product-item td.quantity-price span.total-selling-price {
    font-family: 'Droid Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    color: #4f4f4f;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
  }
  .container.container-main.container-cart .cart tr.product-item td.product-image {
    padding-right: 20px;
    width: auto;
    max-width: 120px;
  }
  .container.container-main.container-cart .cart tr.product-item td.product-image img {
    width: 100%;
    height: 100%;
    max-width: unset;
    border: 1px solid #DEDEDE;
    box-sizing: border-box;
    border-radius: 5px;
    max-width: 99px;
  }
  .container.container-main.container-cart .cart tr.product-item td.quantity input {
    font-family: 'Droid Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    color: #4f4f4f;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    width: 30px;
  }
  .container.container-main.container-cart .cart tr.product-item td.quantity i {
    color: #F15B2A;
  }
  .container.container-main.container-cart .cart tr.product-item .seller, .container.container-main.container-cart .cart tr.product-item .brand {
    display: none;
  }
  tbody.totalizers-list td.info {
    text-align: left !important;
    width: 100%;
  }
  td.info {
    text-align: left !important;
  }
  .summary-template-holder {
    border: none !important;
  }
  .summary-template-holder .cart-more-options {
    margin: 0px;
  }
  .summary-template-holder div#shipping-preview-container h2 {
    font-family: 'Droid Sans', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: bold;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: #4f4f4f;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 40px;
    margin-top: 40px;
  }
  .summary-template-holder .summary-totalizers.cart-totalizers a#cart-link-coupon-add, .summary-template-holder .summary-totalizers.cart-totalizers p.coupon-data {
    font-family: 'Droid Sans', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 200;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #4f4f4f;
    display: block;
    width: 100%;
    text-align: right;
    text-decoration: underline;
    white-space: nowrap;
    margin: 0px;
  }
  .summary-template-holder .summary-totalizers.cart-totalizers table.table tfoot tr {
    color: #F15B2A;
    font-family: 'Droid Sans', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: bold;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
  }
  .summary-template-holder .summary-totalizers.cart-totalizers table.table tfoot td.monetary {
    text-align: right;
    white-space: nowrap;
  }
  .summary-template-holder .summary-totalizers.cart-totalizers tbody.totalizers-list tr, .summary-template-holder .summary-totalizers.cart-totalizers tbody.totalizers-list td {
    text-align: right;
    font-size: 22px;
    font-family: 'Droid Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 26px;
    letter-spacing: 0em;
    padding-left: 0px;
  }
  .summary-template-holder .summary-totalizers.cart-totalizers tbody.totalizers-list td.monetary {
    width: 100%;
  }
  .summary-template-holder .summary-totalizers.cart-totalizers tbody.totalizers-list td.empty {
    display: none;
  }
  .summary-template-holder .summary-totalizers.cart-totalizers tfoot td.monetary, .summary-template-holder .summary-totalizers.cart-totalizers tfoot td.info {
    color: #F15B2A;
    font-weight: bold;
    padding-left: 0px;
  }
  .full-cart .summary-totalizers .empty {
    display: none;
  }
  .coupon.summary-coupon {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 55px !important;
  }
  @media screen and (max-width: 768px) {
    .coupon.summary-coupon {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  .coupon.summary-coupon a#go-back-link {
    font-family: 'Droid Sans', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 200;
    line-height: 20px;
    letter-spacing: 0;
    text-align: left;
    color: #4f4f4f;
    display: block;
    width: 100%;
    text-align: right;
    text-decoration: underline;
    margin-right: 23px;
    white-space: nowrap;
  }
  @media screen and (max-width: 768px) {
    .coupon.summary-coupon a#go-back-link {
      margin: 0px;
      text-align: center;
      margin-bottom: 12px;
    }
  }
  .full-cart .totalizers tfoot td {
    font-size: 25px !important;
  }
  @media screen and (max-width: 768px) {
    div#shipping-preview-container .srp-delivery-header {
      max-width: unset;
      width: 100%;
    }
  }
  div#shipping-preview-container .srp-delivery-header span {
    font-family: 'Droid Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    display: flex;
  }
  @media screen and (max-width: 768px) {
    div#shipping-preview-container h2::after {
      content: "Veja as opções de entrega para seus ítens com todos os prazos e valores.";
      font-family: "Droid Sans";
      font-size: 15px;
      line-height: 18px;
      letter-spacing: 0em;
      text-align: left;
      color: #4f4f4f;
      font-weight: normal !important;
      margin-top: 10px;
      display: block;
    }
    div#shipping-preview-container .srp-data.mt4 {
      display: none !important;
    }
  }
  div#shipping-preview-container a.srp-address-title {
    color: #F15B2A;
    font-family: 'Droid Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
  }
  div#shipping-preview-container .srp-shipping-current-single__description, div#shipping-preview-container .srp-shipping-current-single__sla {
    font-family: 'Droid Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    display: flex;
  }
  div#shipping-preview-container .vtex-shipping-preview-0-x-postalCodeForgotten {
    display: flex;
    align-items: flex-end;
  }
  div#shipping-preview-container p.input.ship-postalCode {
    position: relative;
    width: 100%;
  }
  div#shipping-preview-container p.input.ship-postalCode::before {
    content: "CEP";
    font-family: 'Droid Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    letter-spacing: 0em;
    text-align: left;
    display: flex;
    white-space: nowrap;
    width: 100%;
    margin-bottom: 15px;
    color: #4f4f4f;
    font-weight: bold;
  }
  div#shipping-preview-container p.input.ship-postalCode label {
    display: none;
  }
  div#shipping-preview-container p.input.ship-postalCode input {
    height: 40px;
    width: 100%;
    padding: 10px;
    font-family: 'Droid Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    display: flex;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 4px;
    max-width: 172px;
  }
  div#shipping-preview-container p.input.ship-postalCode small a {
    position: absolute;
    font-family: 'Droid Sans', sans-serif;
    font-weight: normal;
    color: #31719F;
  }
  div#shipping-preview-container button#cart-shipping-calculate {
    height: 40px;
    margin-left: 12px;
    color: #31719F;
    font-family: 'Droid Sans', sans-serif;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    border: 1px solid #31719F;
    box-sizing: border-box;
    border-radius: 4px;
  }
  div#shipping-preview-container p.srp-description {
    display: none;
  }
  div#shipping-preview-container span.help.error {
    display: none;
  }
  a#cart-to-orderform {
    background: #F15B2A;
    color: #fff;
    border: none;
    width: 100%;
    min-width: 320px;
    font-size: 0px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
    line-height: 26px;
    letter-spacing: 0em;
    text-transform: uppercase;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  a#cart-to-orderform::before {
    content: "FINALIZAR COMPRA";
    font-size: 20px;
  }
  .checkout-steps {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    max-width: 1320px;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 60px;
  }
  @media screen and (max-width: 768px) {
    .checkout-steps {
      padding: 10px;
    }
  }
  .checkout-steps .step {
    width: 57px;
    flex-shrink: 57px;
    height: 57px;
    background: #bcc4bf;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 0px;
    margin: 0px;
    min-width: 57px;
    border: none;
    position: relative;
  }
  .checkout-steps .step--line {
    width: 100%;
    height: 2px;
    background: #bcc4bf;
  }
  .checkout-steps span.step-label {
    color: #BCC4BF;
    font-family: Arial;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    position: absolute;
    bottom: -20px;
  }
  .checkout-steps .active {
    background: #F15B2A;
  }
  .checkout-steps .active span.step-label {
    color: #4f4f4f;
  }
  h1#orderform-title {
    display: none !important;
  }
  .checkout-container h1#orderform-title {
    display: none;
  }
  .checkout-container .orderform-template div#client-profile-data {
    border: none !important;
  }
  .checkout-container .orderform-template div#client-profile-data label.checkbox.newsletter-label {
    display: none !important;
  }
  .checkout-container .orderform-template div#client-profile-data .client-profile-data {
    background-color: #fff;
  }
  @media screen and (max-width: 768px) {
    .checkout-container .orderform-template div#client-profile-data .client-profile-data {
      padding: 10px;
    }
  }
  .checkout-container .orderform-template div#client-profile-data .client-profile-data label.checkbox.exempt-si-label {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
  }
  .checkout-container .orderform-template div#client-profile-data .client-profile-data form.form-step p.client-profile-email, .checkout-container .orderform-template div#client-profile-data .client-profile-data form.form-step label {
    font-family: 'Droid Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 13px;
    color: #4f4f4f;
    letter-spacing: 0em;
    text-align: left;
  }
  .checkout-container .orderform-template div#client-profile-data .client-profile-data form.form-step input {
    height: 41px;
    font-family: 'Droid Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 13px;
    color: #4f4f4f;
    margin-top: 8px;
    border: 2px solid #e0e0e0;
    border-radius: 4px;
    text-align: center;
    width: 100% !important;
    margin-left: 0px;
  }
  .checkout-container .orderform-template div#client-profile-data .client-profile-data form.form-step input[type='checkbox'] {
    position: relative;
    top: -5px;
    margin-right: 10px;
    width: auto;
  }
  .checkout-container .orderform-template div#client-profile-data .client-profile-data .input#client-last-name {
    width: 100%;
  }
  .checkout-container .orderform-template div#client-profile-data .client-profile-data .corporate-info-box p {
    width: 100%;
  }
  .checkout-container .orderform-template div#client-profile-data .client-profile-data fieldset.box-client-info-pf p {
    width: 100%;
  }
  .checkout-container .orderform-template div#client-profile-data .client-profile-data fieldset.box-client-info-pf p.client-email input {
    width: 100%;
  }
  .checkout-container .orderform-template div#client-profile-data .client-profile-data p.submit.btn-submit-wrapper {
    text-align: center;
    margin-top: 26px;
  }
  .checkout-container .orderform-template div#client-profile-data .client-profile-data p.submit.btn-submit-wrapper button {
    background: #F15B2A;
    color: #fff;
    font-family: 'Droid Sans', sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 17px;
    letter-spacing: 0em;
    min-width: 183px;
    border-radius: 45px;
    border: none;
    text-align: center;
    text-transform: uppercase;
  }
  .checkout-container .orderform-template div#client-profile-data .client-profile-data li.link a {
    font-family: 'Droid Sans', sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: normal;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
    color: #4f4f4f;
  }
  .checkout-container .orderform-template div#client-profile-data .client-profile-data p.client-notice.notice {
    font-size: 13px;
    font-style: normal;
    font-weight: 200;
    font-family: "Droid Sans", sans-serif;
    line-height: 14px;
    letter-spacing: 0em;
    color: #4f4f4f;
    text-align: left;
  }
  .checkout-container .orderform-template div#client-profile-data .client-profile-data .accordion-heading i.icon-user {
    display: none;
  }
  .checkout-container .orderform-template div#client-profile-data .client-profile-data .accordion-heading span {
    font-family: 'Droid Sans', sans-serif;
    font-size: 20px;
    font-style: bold;
    color: #4f4f4f;
    font-weight: normal;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
  }
  div#shipping-data .step {
    background: #fff;
    border: none !important;
  }
  @media screen and (max-width: 768px) {
    div#shipping-data .step {
      padding: 10px;
    }
  }
  div#shipping-data .leanShippingOptionActive {
    background: #fff;
  }
  div#shipping-data input {
    height: 41px;
    font-family: 'Droid Sans', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 13px;
    color: #4f4f4f;
    margin-top: 8px;
    border: 2px solid #e0e0e0;
    border-radius: 4px;
    text-align: center;
    width: 100%;
    max-width: unset;
  }
  div#shipping-data p.input.ship-number {
    width: 100%;
  }
  div#shipping-data p.input small {
    display: none;
  }
  div#shipping-data p.vtex-omnishipping-1-x-shippingSectionTitle {
    font-family: 'Droid Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    color: #4f4f4f;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
  }
  div#shipping-data .accordion-heading span.accordion-toggle.collapsed {
    font-family: 'Droid Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #4f4f4f;
  }
  div#shipping-data .accordion-heading i.icon-home {
    display: none;
  }
  div#shipping-data p.btn-go-to-payment-wrapper {
    text-align: center;
  }
  div#shipping-data p.btn-go-to-payment-wrapper button {
    background: #F15B2A;
    color: #FFF;
    font-family: 'Droid Sans', sans-serif;
    font-size: 12px;
    font-style: normal;
    border-radius: 45px;
    font-weight: normal;
    text-transform: uppercase;
    min-width: 183px;
    border: none;
    text-align: center;
  }
  .vtex-omnishipping-1-x-leanShippingGroupList {
    background-color: #fff !important;
  }
  span.quantity.badge {
    background-color: #000;
    color: #fff;
    font-family: "Droid Sans", sans-serif;
    width: 15px;
    height: 15px;
  }
  a#open-shipping {
    font-family: 'Droid Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    background: #F15B2A;
    border-radius: 45px;
    color: #fff;
    border: none;
    text-decoration: none !important;
  }
  .cart-fixed {
    width: 100%;
  }
  @media screen and (min-width: 768px) {
    .cart-fixed {
      max-width: 300px;
    }
  }
  .cart-fixed h2 {
    font-family: 'Droid Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    line-height: 26px;
    letter-spacing: 0;
    text-align: center;
    background-color: #fff;
    color: #4f4f4f;
  }
  .cart-fixed span.shipping-date {
    display: none;
  }
  .cart-fixed p#go-to-cart-button {
    display: none;
  }
  .cart-totalizers span.quantity.badge {
    background: #F15B2A;
    color: #4f4f4f;
  }
  @media screen and (min-width: 768px) {
    .cart-totalizers .accordion-inner {
      display: flex;
      justify-content: flex-end;
    }
    .cart-totalizers .accordion-inner table.table {
      max-width: 320px;
    }
  }
  .cart-totalizers table.table tfoot td {
    text-align: right;
    font-size: 22px;
    font-family: "Droid Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0;
    color: #4f4f4f;
  }
  p.payment-submit-wrap button {
    background: #F15B2A;
    color: #515151;
    min-width: 183px;
    border: none;
    text-align: center;
    border-radius: 45px;
    text-shadow: none;
  }
  p.payment-submit-wrap button i.icon-lock {
    display: none;
  }
  p.payment-submit-wrap button span {
    font-family: 'Droid Sans', sans-serif;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0em;
    font-weight: bold;
    text-transform: uppercase;
  }
  p.payment-submit-wrap button:disabled, p.payment-submit-wrap button:hover {
    background: #F15B2A;
    opacity: 0.9;
  }
  div#payment-data fieldset.payment-group {
    margin-top: 0px;
  }
  div#payment-data .steps-view {
    background-color: #fff;
    padding: 0px;
  }
  div#payment-data .step {
    border: none !important;
  }
  @media screen and (max-width: 768px) {
    div#payment-data .step {
      padding: 10px;
    }
  }
  div#payment-data i.icon-credit-card {
    display: none;
  }
  div#payment-data span.payment-group-item-text {
    background-image: none;
  }
  div#payment-data .required.payment-group-list-btn a {
    border: 1px solid #dedede;
    border-radius: 4px;
    padding: 10px;
    margin: 10px 0px 0px;
    font-family: 'Droid Sans', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #4f4f4f;
    background: #fff;
  }
  div#payment-data .required.payment-group-list-btn a span {
    padding: 0px;
  }
  div#payment-data span.accordion-toggle span {
    font-family: 'Droid Sans', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #4f4f4f;
  }
  .accordion-toggle .link-box-edit {
    background-color: #fff !important;
    border: none;
    top: 0px;
    right: 0px;
    box-shadow: none !important;
  }
  .icon-edit::before {
    color: #F15B2A;
  }
  span.SecurityEnvironmentIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #F15B2A;
    padding: 5px;
  }
  @media screen and (max-width: 768px) {
    span.SecurityEnvironmentIcon {
      display: none;
    }
  }
  span.SecurityEnvironmentIcon span.payment-environment-icon-text {
    text-align: center;
  }
  .App.iframe-debit-card-payment-group label.FormFieldLabel, .App.iframe-credit-card-payment-group label.FormFieldLabel {
    font-family: 'Droid Sans', sans-serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #4f4f4f;
    margin: 0px 0px 10px;
  }
  .App.iframe-debit-card-payment-group input, .App.iframe-credit-card-payment-group input {
    text-align: center;
    font-family: 'Droid Sans', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: center;
    color: #4f4f4f;
    border: 1px solid #dedede;
    border-radius: 5px;
    height: 44px;
    width: 100%;
    max-width: 300px;
  }
  .App.iframe-debit-card-payment-group p.ChangeNumberOfPayments a, .App.iframe-credit-card-payment-group p.ChangeNumberOfPayments a {
    font-family: 'Droid Sans', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 11px;
    letter-spacing: 0em;
    text-align: left;
    color: #bdbdbd;
  }
  .App.iframe-debit-card-payment-group p.AddressToggle, .App.iframe-credit-card-payment-group p.AddressToggle {
    display: flex;
    align-items: center;
  }
  .App.iframe-debit-card-payment-group .PaymentCardDueDate, .App.iframe-credit-card-payment-group .PaymentCardDueDate {
    display: flex;
    flex-wrap: wrap;
  }
  .App.iframe-debit-card-payment-group .PaymentCardDueDate label.FormFieldLabel, .App.iframe-credit-card-payment-group .PaymentCardDueDate label.FormFieldLabel {
    width: 100%;
  }
  .App.iframe-debit-card-payment-group .PaymentCardDueDate p.payment-card-due-month, .App.iframe-credit-card-payment-group .PaymentCardDueDate p.payment-card-due-month {
    margin-right: 5px;
  }
  .App.iframe-debit-card-payment-group input[type='checkbox'], .App.iframe-credit-card-payment-group input[type='checkbox'] {
    width: auto;
  }
  .App.iframe-debit-card-payment-group p.PaymentCardValue, .App.iframe-credit-card-payment-group p.PaymentCardValue {
    display: flex;
    flex-direction: column;
  }
  .App.iframe-debit-card-payment-group p.PaymentCardValue span.add-on, .App.iframe-credit-card-payment-group p.PaymentCardValue span.add-on {
    height: 44px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .App.iframe-debit-card-payment-group p.PaymentCardCVV, .App.iframe-credit-card-payment-group p.PaymentCardCVV {
    display: flex;
    flex-direction: column;
    max-width: 180px;
  }
  .App.iframe-debit-card-payment-group p.PaymentCardHolderName, .App.iframe-credit-card-payment-group p.PaymentCardHolderName {
    margin-top: 20px;
  }
  .App.iframe-debit-card-payment-group select, .App.iframe-credit-card-payment-group select {
    height: 50px;
  }
  .App.iframe-debit-card-payment-group p.payment-card-lash, .App.iframe-credit-card-payment-group p.payment-card-lash {
    display: none;
  }
  .App.iframe-debit-card-payment-group p.card-flags.active, .App.iframe-credit-card-payment-group p.card-flags.active {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  .App.iframe-debit-card-payment-group p.card-flags.active label, .App.iframe-credit-card-payment-group p.card-flags.active label {
    margin-right: 5px;
    border-radius: 5px;
    border: 2px solid #dedede;
    display: flex;
    align-items: center;
  }
  .App.iframe-debit-card-payment-group p.card-flags.active label input, .App.iframe-credit-card-payment-group p.card-flags.active label input {
    display: none;
  }
  .mini-cart .summary-template-holder {
    background-color: #fff;
  }
  .mini-cart .summary-template-holder .summary {
    background-color: #fff;
  }
  .cart-template.mini-cart {
    background: #fff;
    border: none !important;
    max-width: 300px;
    box-shadow: none !important;
  }
  .cart-template.mini-cart .cart-fixed {
    padding: 15px;
    height: auto !important;
    background-color: #fff;
    padding-bottom: 0px;
  }
  .cart-template.mini-cart .cart-fixed img {
    border: 1px solid #DEDEDE;
    box-sizing: border-box;
    border-radius: 5px;
  }
  .cart-template.mini-cart .cart-fixed li.hproduct {
    padding-bottom: 30px;
    border: none;
  }
  .cart-template.mini-cart .cart-fixed span.fn.product-name {
    font-family: 'Droid Sans', sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #4f4f4f;
  }
  .cart-template.mini-cart .cart-fixed strong.price {
    font-family: 'Droid Sans', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #4f4f4f;
  }
  .cart-template.mini-cart .cart-fixed table.table tbody td {
    font-size: 15px !important;
  }
  .cart-template.mini-cart .cart-fixed table.table span.quantity.badge {
    display: none;
  }
  .cart-template.mini-cart .cart-fixed table.table tfoot td {
    text-align: left;
    width: 100%;
  }
  .cart-template.mini-cart .cart-fixed table.table td {
    font-family: 'Droid Sans', sans-serif;
    font-size: 18px !important;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0em;
    color: #828282;
  }
  form.form-page.client-pre-email p.link.link-cart a {
    position: relative;
    right: 15px;
    top: 5px;
  }
  svg.srp-icon-radio-selected.db path {
    fill: #000;
  }
  form.form-page.client-pre-email p.link.link-cart {
    display: none;
  }
  form.form-page.client-pre-email button#btn-client-pre-email {
    font-family: 'Droid Sans', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    background: #F15B2A !important;
    border: none;
    border-radius: 0px;
  }
  fieldset.pre-email.row-fluid h3.client-pre-email-h label small {
    font-family: 'Droid Sans', sans-serif;
    font-weight: 200;
    font-size: 25px;
    text-transform: uppercase;
    color: #4f4f4f;
  }
  fieldset.pre-email.row-fluid h3.client-pre-email-h label span {
    text-transform: uppercase;
    color: #4f4f4f;
  }
  fieldset.pre-email.row-fluid h3.client-pre-email-h label span:first-of-type {
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 0em;
    text-align: left;
  }
  div#app-container {
    background-color: #fff;
  }
  .container.container-main {
    width: 100% !important;
    padding: 0px 20px;
    max-width: 1200px;
  }
  .box-client-info p.client-phone, .box-client-info p.client-last-name {
    max-width: 47%;
  }
  .box-client-info p.client-document, .box-client-info p.client-first-name {
    max-width: 49%;
    float: left !important;
  }
  .form-step.box-info {
    font-family: "Droid Sans", sans-serif;
    color: #4f4f4f;
  }
  .box-step.box-info.shipping-summary-placeholder {
    font-family: "Droid Sans", sans-serif;
    color: #4f4f4f;
  }
  svg.vtex-omnishipping-1-x-svg path {
    fill: #F15B2A;
  }
  .vtex-omnishipping-1-x-leanShippingOptionActive {
    background-color: #fff !important;
  }
  a#force-shipping-fields {
    color: #F15B2A;
  }
  .vtex-omnishipping-1-x-addressSummaryActive .address-summary {
    background: #fff !important;
    padding: 15px !important;
  }
  p.vtex-omnishipping-1-x-shippingSectionTitle.delivery-address-title {
    display: none;
  }
  .accordion-inner.shipping-container label {
    font-family: "Droid Sans", sans-serif;
    color: #4f4f4f;
    font-size: 16px;
  }
  p.link.link-gift-card {
    position: initial !important;
  }
  @media screen and (min-width: 768px) {
    form.form-step .steps-view {
      width: 75% !important;
    }
  }
  label.srp-shipping-current-single {
    background-color: #fff;
    border-radius: 1px solid #dedede;
  }
  .summary-discount-descriptions table.table {
    display: flex;
    flex-direction: column;
  }
  .summary-discount-descriptions tbody.totalizers-list td {
    display: flex !important;
    align-items: center;
  }
  .cart-fixed h2 {
    border: none !important;
  }
  @media screen and (max-width: 768px) {
    p.client-last-name {
      margin-left: 13px;
    }
    .payment-confirmation-wrap {
      border: none !important;
    }
    .cart-fixed h2 {
      font-size: 20px;
    }
    .emailInfo {
      width: 100% !important;
      position: relative;
      top: 120px;
    }
    h3.client-pre-email-h span {
      text-align: center !important;
      font-size: 23px !important;
      line-height: 30px;
    }
    h3.client-pre-email-h small {
      font-weight: 200;
      margin-top: 9px;
      font-size: 20px;
    }
    .client-email.input {
      margin-top: 24px;
    }
    .client-email.input input#client-pre-email {
      padding: 20px;
      height: auto;
      border-radius: 0px;
      max-width: 340px;
      font-family: "Droid Sans", sans-serif;
      font-size: 20px;
      line-height: 23px;
      letter-spacing: 0em;
      text-align: center;
      color: #808080;
    }
    .client-email.input button#btn-client-pre-email {
      min-width: 240px;
      background: #F15B2A !important;
      margin-top: 30px;
      height: 68px !important;
    }
    .client-email.input button#btn-client-pre-email span {
      font-family: "Droid Sans", sans-serif;
      font-size: 18px;
      line-height: 18px;
      letter-spacing: 0em;
      text-align: center;
      color: #fff;
      display: block;
    }
    body#checkoutMainContainer {
      padding: 0pc;
      background-color: #fff;
    }
    body#checkoutMainContainer .container.logo-place {
      border: none;
    }
    body#checkoutMainContainer .container.logo-place a img {
      max-width: 230px;
    }
    body#checkoutMainContainer .checkout-steps {
      display: none;
    }
    body#checkoutMainContainer .cart-template {
      padding: 0px 15px;
    }
    body#checkoutMainContainer .cart-template .cart {
      padding: 0px;
      box-shadow: none;
      margin: 0px;
      border: none;
    }
    body#checkoutMainContainer .cart-template .cart table tr, body#checkoutMainContainer .cart-template .cart table td {
      border: none;
    }
    body#checkoutMainContainer .cart-template .cart tr.product-item {
      padding: 30px 0px 70px;
    }
    body#checkoutMainContainer .cart-template .cart tr.product-item.unavailable.lookatme {
      background-color: #fff;
    }
    body#checkoutMainContainer .cart-template .cart td.product-image img {
      border: none;
    }
    body#checkoutMainContainer .cart-template .cart td.quantity {
      position: absolute;
      margin: 0px;
      left: 0px;
      display: flex;
      align-items: center;
      bottom: 0px;
    }
    body#checkoutMainContainer .cart-template .cart td.quantity input {
      height: 100%;
      width: 20px;
    }
    body#checkoutMainContainer .cart-template .cart td.quantity::before {
      content: "Quantidade";
      font-family: "Droid Sans", sans-serif;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0em;
      text-align: left;
      color: #4f4f4f;
      margin-right: 20px;
    }
    body#checkoutMainContainer .cart-template .cart td.product-price {
      position: absolute;
      right: 0px;
      top: unset !important;
      bottom: 0px;
    }
    body#checkoutMainContainer .cart-template .cart td.product-price::before {
      content: "Preço";
      font-family: "Gotham", sans-serif;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0em;
      text-align: left;
      font-weight: 200;
      margin-right: 9px;
      color: #F15B2A;
      opacity: 0.8;
    }
    body#checkoutMainContainer .cart-template .cart td.product-name {
      font-weight: bold;
      margin-left: 120px;
      margin-top: 30px;
    }
    .coupon.summary-coupon a#go-back-link {
      display: none;
    }
    a#go-back-link {
      font-family: "Droid Sans", sans-serif;
      font-size: 15px;
      line-height: 18px;
      letter-spacing: 0em;
      text-align: left;
      color: #bdbdbd;
      text-decoration: underline;
      margin-top: 25px;
      display: block;
    }
    div#shipping-preview-container h2 {
      font-size: 16px;
      margin-top: 43px;
      margin-bottom: 9px;
    }
    .forms.coupon-column.summary-coupon-wrap {
      width: 100%;
    }
    .forms.coupon-column.summary-coupon-wrap form.coupon-form {
      width: 100%;
    }
    .forms.coupon-column.summary-coupon-wrap .coupon.summary-coupon {
      margin: 9px 0px 10px;
    }
    .forms.coupon-column.summary-coupon-wrap p.coupon-data {
      width: 1005;
    }
    .forms.coupon-column.summary-coupon-wrap p.coupon-label label {
      font-family: "Droid Sans", sans-serif;
      font-size: 16px;
      font-weight: bold;
      line-height: 19px;
      letter-spacing: 0em;
      text-align: left;
      color: #4f4f4f;
    }
    .forms.coupon-column.summary-coupon-wrap p.coupon-fields span {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: flex-start;
    }
    .forms.coupon-column.summary-coupon-wrap p.coupon-fields i.loading-coupon {
      display: none;
    }
    .forms.coupon-column.summary-coupon-wrap p.coupon-fields input {
      width: 100%;
      padding: 20px;
      border: 2px solid #E0E0E0;
      font-family: "Droid Sans", sans-serif;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0em;
      text-align: left;
      color: #4f4f4f;
    }
    .forms.coupon-column.summary-coupon-wrap p.coupon-fields button {
      background: #F15B2A;
      font-family: "Droid Sans", sans-serif;
      font-size: 16px;
      line-height: 23px;
      letter-spacing: 0em;
      text-align: center;
      color: #fff;
      padding: 10px;
      margin-left: 10px;
    }
    .forms.coupon-column.summary-coupon-wrap a#cart-link-coupon-add {
      width: 100%;
      text-align: left;
      font-family: "Droid Sans", sans-serif;
      font-size: 15px;
      line-height: 18px;
      letter-spacing: 0em;
      text-align: left;
      color: #bdbdbd;
      text-decoration: underline;
      display: block;
    }
    .cart-totalizers tbody.totalizers-list tr, .cart-totalizers tbody.totalizers-list td {
      font-size: 17px !important;
    }
    .cart-totalizers tbody.totalizers-list tr {
      border: none !important;
    }
    .cart-totalizers tfoot tr td {
      font-size: 20px !important;
      color: #F15B2A !important;
    }
    .cart-links-bottom {
      margin-top: 36px;
    }
    .cart-links-bottom a#cart-to-orderform {
      padding: 19px;
      font-weight: normal;
      margin-top: 0px;
    }
    div#client-profile-data {
      background-color: #f4f4f4;
    }
    div#client-profile-data .client-profile-data {
      background-color: #fff;
    }
    div#client-profile-data p.client-email span {
      width: 100%;
      border: 2px solid #E0E0E0;
      background-color: #fff;
      border-radius: 6px;
      display: block;
      text-align: center;
      margin-top: 8px;
      height: 41px;
      font-family: Droid Sans, sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      line-height: 38px;
      color: #4f4f4f;
      margin-top: 8px;
      border: 2px solid #e0e0e0;
      border-radius: 4px;
      text-align: center;
      width: 100% !important;
    }
    div#client-profile-data .box-client-info input {
      border-radius: 6px !important;
    }
    div#client-profile-data p.submit.btn-submit-wrapper button {
      max-width: 205px;
      border-radius: 0px !important;
      font-weight: bold;
    }
    .step.accordion-group.client-profile-data {
      background-color: #F4F4F4 !important;
      margin-bottom: 0px;
      border: none;
    }
    .orderform-template-holder .client-profile-data p.client-phone, .orderform-template-holder .client-profile-data p.client-last-name {
      max-width: 47% !important;
      float: left !important;
    }
    .orderform-template-holder .client-profile-data p.client-document, .orderform-template-holder .client-profile-data p.client-first-name {
      max-width: 49%;
      float: left !important;
    }
    .orderform-template-holder .client-profile-data input#client-phone {
      margin-left: 3px;
    }
    .orderform-template-holder .client-profile-data input#client-last-name {
      margin-left: 13px;
    }
    div#shipping-data .step.accordion-group.shipping-data.vtex-omnishipping-1-x-shippingDataDev {
      margin-bottom: 0px;
    }
    div#shipping-data p.vtex-omnishipping-1-x-submitPaymentButton.btn-submit-wrapper.btn-go-to-payment-wrapper button {
      max-width: 205px;
      border-radius: 0px;
      text-transform: uppercase;
    }
    div#shipping-data label {
      font-size: 13px !important;
    }
    div#shipping-data label#CHEAPEST, div#shipping-data .vtex-omnishipping-1-x-addressForm .address-summary.address-summary-BRA, div#shipping-data input {
      border-radius: 8px;
      border: 2px solid #e0e0e0;
    }
    div#shipping-data .step.shipping-data {
      background-color: #f4f4f4 !important;
    }
    div#payment-data {
      background: #f4f4f4;
    }
    div#payment-data .App.iframe-debit-card-payment-group, div#payment-data .App.iframe-credit-card-payment-group, div#payment-data .required.payment-group-list-btn, div#payment-data .step.accordion-group.store-country-BRA {
      background: #f4f4f4;
    }
    div#payment-data .App.iframe-debit-card-payment-group {
      padding: 15px;
    }
    div#payment-data .required.payment-group-list-btn {
      margin-bottom: 0px;
    }
    div#payment-data .cart-template.mini-cart {
      max-width: unset !important;
    }
    div#payment-data .required.payment-group-list-btn a {
      border-radius: 8px;
      border: 2px solid #e0e0e0;
      margin: 0px;
      margin-bottom: 10px;
    }
    div#payment-data .required.payment-group-list-btn a:last-of-type {
      margin: 0px;
    }
    .App.iframe-debit-card-payment-group label, .App.iframe-credit-card-payment-group label {
      font-family: "Droid Sans", sans-serif;
      font-size: 18px;
      line-height: 14px;
      letter-spacing: 0em;
      text-align: left;
      margin-bottom: 9px;
      display: block;
      color: #4f4f4f;
      margin: 15px 0px !important;
    }
    .App.iframe-debit-card-payment-group input, .App.iframe-credit-card-payment-group input {
      width: 100% !important;
      padding: 1px;
      border: 2px solid #e0e0e0;
      border-radius: 8px;
      padding: 10px;
      height: 42px;
      font-family: "Droid Sans", sans-serif;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0em;
      color: #4f4f4f;
      max-width: unset;
      text-align: center;
    }
    .App.iframe-debit-card-payment-group input#address-toggle-1, .App.iframe-credit-card-payment-group input#address-toggle-1, .App.iframe-debit-card-payment-group input#address-toggle-0, .App.iframe-credit-card-payment-group input#address-toggle-0 {
      max-width: 15px;
    }
    div#app-container {
      background-color: #F4F4F4;
    }
    .note.summary-note.hide button {
      max-width: 320px;
      border-radius: 0px;
      text-transform: uppercase;
    }
    div#iframe-placeholder-creditCardPaymentGroup html {
      background-color: #F4F4F4;
    }
    body#checkoutMainContainer .cart-template {
      max-width: unset !important;
    }
  }
  @media screen and (max-width: 768px) and (max-width: 768px) {
    div#shipping-preview-container h2 {
      margin-bottom: 0px !important;
    }
  }
  @media screen and (max-width: 768px) and (min-width: 769px) {
    div#shipping-preview-container a#go-back-link {
      display: none;
    }
  }
  @media screen and (min-width: 768px) {
    div#shipping-preview-container #go-back-link {
      display: none;
    }
  }
  .App.iframe-debit-card-payment-group, .App.iframe-credit-card-payment-group {
    padding: 15px;
  }
  a.payment-group-item {
    position: relative;
  }
  a.payment-group-item::after {
    content: "";
    position: absolute;
    left: 15px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    outline: 2px solid #F15B2A;
    top: 17px;
  }
  a.payment-group-item span.payment-group-item-text {
    padding-left: 45px !important;
  }
  a.payment-group-item span {
    white-space: nowrap;
  }
  a.payment-group-item.active::after {
    background-color: #F15B2A;
    border: 2px solid #fff;
  }
  label[for='client-first-name'], label[for='client-last-name'] {
    font-size: 0px !important;
  }
  label[for='client-first-name']::before {
    content: "Nome";
    font-size: 16px !important;
  }
  label[for='client-last-name']::before {
    content: "Sobrenome";
    font-size: 16px !important;
  }
  label[for="address-toggle-1"], label[for="address-toggle-0"] {
    font-family: "Droid Sans", sans-serif !important;
    font-size: 12px !important;
    line-height: 11px !important;
    letter-spacing: 0em !important;
    text-align: left !important;
    color: #4f4f4f !important;
  }
  